.blogs-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    background-color: rgb(250, 246, 241);
   gap: 15px;
   
}
.blogs-header{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.blog-box-container{
    display: flex;
    justify-content: space-around;
  
  padding: 10px;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.blog-image{
    height: 50%;
    width: 100%;
    background-color: red;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.blog-image>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.keyword{
    padding:0px 10px 0px 10px;
    font-family: DM Sans;
font-size: 16px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0.5px;
text-align: left;

}
.blog-title{
    padding:0px 10px 0px 10px;
font-family: DM Sans;
font-size: 28px;
font-weight: 500;
line-height: 32px;
letter-spacing: 0em;
text-align: left;

}
.blog-para{
    padding:0px 10px 10px 10px;
font-family: Hind Vadodara;
font-size: 15px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3; 
  max-height: 5em; 

}
.blog-content{
    height: 50%;
    width: 100%;
    background: darkolivegreen;
   display: flex;
   gap: 10px;
   flex-direction: column;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
}
.blog{
    width: 320px;
height:420px;
border-radius: 17px;
cursor: pointer;
}
.blog-heading{
font-family: Yantramanav;
font-size: 40px;
line-height: 90px;
letter-spacing: 0em;
text-align: center;
color: darkolivegreen;
}
.Explore-button{
    width: 200px;
height: 50px;

border-radius: 5px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
background-color: white;
font-family: Hind Vadodara;
font-size: 20px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0em;
text-align: left;


}