.Contact-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
 background-color: rgb(250, 246, 241);
}

/* .Contact-form {
    
    height:auto ;
    position: relative ;
 
} */
.mobile-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.form-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 55vw;
}
.form-input-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input[type=submit]{
display: flex;
justify-content: center;
align-items: center;
width: auto;
background: darkolivegreen;
font-family: Montserrat;
font-size: 16px;
font-weight: 700;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color: white;
padding: 10px;
border: none;
}
.form-input{
    width: auto;
    background-color: rgb(250, 246, 241);
    font-family: Montserrat;
    border: 1px solid #E0E0E0;
    padding: 10px;
}
.form-header-title{
    
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: 0em;
    text-align: left;
    

}
.hello{
    font-family: Montserrat;
font-size: 14px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0.01em;
text-align: left;

}
.form-header-title>span{
  
    font-size: 40px;
    line-height: 63px;
    letter-spacing: 0em;
    text-align: left;
    color: darkolivegreen;
}
.form-header-container{
    display: flex;
    flex-direction: column;
}

.Contact-form{

  
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.detail-conatiner{
    display: flex;
    justify-content: space-between;
   width: 100%;
   align-items: center; 
}

.option{
    font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.01em;
text-align: left;
padding:10px;
}
/* #select-dropdown{
    width: 99% !important;
} */
/* .phone-content-header{
    font-family: Montserrat;
font-size: 13px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.02em;
text-align: left;



}
.phone-content{
    font-family: Montserrat;
font-size: 13px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.02em;
text-align: left;
color: #3D9970;
}

.map{
    top: 65px;
    right: -200px;
    width: 400px;
    height: 75vh;
    position: absolute;
} */